*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.hero h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #293eff;
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 17px;
    color: #dbd6d6;
}
.row {
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Change flex-direction to column to stack vertically */
    gap: 23px;
  }
button{
    background: #ff2963;
    color: #fff;
    font-size: 18px;
    padding: 10px 31px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 11px;
}
select{
    flex: 1;
    color: #fff;
    background: #843d61;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0; 
    border-radius: 38px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(100% - 20px);
}
